{% extends 'base.html' %}

{% load static %}

{% block style %}
  .img-size {
    width: 200px;
    height: 200px;
  }
{% endblock style %}

{% block title %}
  {{ post.title }}
{% endblock title %}

{% block content %}
  {% if request.user.is_authenticated %}
    <form action="{% url 'posts:likes' post.pk %}" method="POST">
      {% csrf_token %}
      {% if request.user in post.like_users.all %}
      <input type="submit" value="좋아요 취소">
      <p>좋아요 수 - {{ post.like_users.count }}</p>
      {% else %}
      <input type="submit" value="좋아요">
      <p>좋아요 수 - {{ post.like_users.count }}</p>
      {% endif %}
    </form>
  {% endif %}

  <div class="d-flex">
    <div>
      <p>{{ post.select1_content }}</p>
      <div class="img-size d-flex align-items-center">
        {% if post.image1 %}
          <img class="img-fluid" src="{{ post.image1.url }}" alt="{{ post.select1_content }} 이미지">
        {% else %}
          <img class="img-fluid" src="{% static 'no_image.png' %}" alt="이미지 없음">
        {% endif %}
      </div>
      
      <form action="{% url 'posts:answer' post.pk 1 %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="{{ post.select1_content }} - {{ post.select1_users.all|length }}" {% if request.user.is_anonymous %}disabled{% endif %}>
      </form>
    </div>

    <div>
      <p>{{ post.select2_content }}</p>
      <div class="img-size d-flex align-items-center">
        {% if post.image2 %}
          <img class="img-fluid" src="{{ post.image2.url }}" alt="{{ post.select2_content }} 이미지">
        {% else %}
          <img class="img-fluid" src="{% static 'no_image.png' %}" alt="이미지 없음">
        {% endif %}
      </div>

      <form action="{% url 'posts:answer' post.pk 2 %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="{{ post.select2_content }} - {{ post.select2_users.all|length }} "{% if request.user.is_anonymous %}disabled{% endif %}>
      </form> 
    </div>
  </div>

  
  <a href="{% url 'posts:index' %}">back</a>

  {% if request.user == post.user %}
      <form action="{% url 'posts:delete' post.pk %}" method="post">
        {% csrf_token %}
        <input type="submit" value="글 삭제">
      </form>
  {% endif %}

  {% if request.user == post.user %}
  <a href="{% url 'posts:update' post.pk %}">글수정</a>
{% endif %}

  
  <form action="{% url 'posts:comment_create' post.pk %}" method="POST">
    {% csrf_token %}
    {% if request.user.is_anonymous %}
      <textarea name="" id="" cols="30" rows="10" disabled></textarea>
      <input type="submit" value="댓글 작성" disabled>
    {% else %}
      {{ comment_form.as_p }}
      <input type="submit" value="댓글 작성">
    {% endif %}
  </form>

  {% for comment in comments %}
    <div>
      <p>댓글 작성자 - 
        {{ comment.user }}
      </p>
      <p>댓글 내용 - 
        {{ comment.content }}
      </p>
      <p>좋아요 수 - {{ comment.like_users.count }}</p>
      {% if request.user.is_authenticated %}
        <form action="{% url 'posts:comment_likes' post.pk comment.pk %}" method="POST">
          {% csrf_token %}
          {% if request.user in comment.like_users.all %}
            <input type="submit" value="좋아요 취소">
          {% else %}
            <input type="submit" value="좋아요">
          {% endif %}
        </form>

        <form action="{% url 'posts:comment_delete' post.pk comment.pk %}" method="POST">
          {% csrf_token %}
          {% if request.user == comment.user %}
            <input type="submit" value="댓글 삭제">
          {% endif %}
        </form>
      {% endif %}
    </div>
  {% endfor %}

{% endblock content %}